.page-content {
    .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;

        h2 {
            margin-bottom: 0;
            color: #834825;
            font-size: 32px;
            font-weight: 400;
        }

        a {
            color: #834825;
            font-size: 12px;
            font-weight: 600;
        }

    }

}