@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F8E5D6;
    background-image: url('./assets/body-background.png');
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input, textarea {
        color: #834825;
        background: #FFFFFF;
        border: 1px solid rgba(157, 164, 166, 0.07);
        border-radius: 4px;
        margin-bottom: 30px;
        padding: 12px;
        font-weight: 400;
        width: 100%;

        &:last-of-type {
            margin-bottom: 12px;
        }

        &::placeholder {
            color: #834825;
            font-size: 12px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
        }

        &:focus {
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.01);
            filter: drop-shadow(0px 0px 4px #B8E5E3), drop-shadow(0px 0px 2px #B8E5E3);
        }

    }

    button {
        width: 160px;
        height: 40px;
        background: #834825;
        border: 2px solid #834825;
        border-radius: 40px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-top: 40px;
    }

}

.new {
    color: #804627;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}